* {
    box-sizing: border-box;
  }
  
  h1{
      text-align: center;
      color: mediumspringgreen;
  }

  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;
  
    /* Visual */
    background-image: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project2\Code\group-project-2\CSS\Images\Multi.jpg);
    background: url(../CSS/Images/Multi.jpg);  
  }
  
  .wrapper {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 40px auto;
  }
  
  #Buy,
  #Sell {
    /* Box-model */
    width: 500px;
    padding: 30px;
  }
  
  #Buy {
    /* Positioning */
    float: left;
  
    /* Visual */
    background: #fff;
  }
  
  #Sell {
    /* Positioning */
    float: right;
  
    /* Visual */
    background: #eee;
  }

  footer { 
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    background-color:white;
    text-align: center;
    width:980px;
    margin-top: 50px;
    margin-bottom: 10px; 
    clear: both;}
  
  @media screen and (max-width: 768px) {
    body {
      background-color: rgb(107, 74, 74);
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #Buy,
    #Sell {
      width: 100%;
    }
  
    #Sell {
      margin-top: 40px;
    }
  }
  

  @media screen and (max-width: 320px) {
    body {
      background-color: rgb(68, 69, 128);
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #Buy,
    #Sell {
      width: 100%;
    }
  
    #Sell {
      margin-top: 40px;
    }
  }
  
  /* Width at 168px and below */
  @media screen and (max-width: 168px) {
    body {
      background-color: rgb(117, 57, 109);
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }
  
    #Buy,
    #Sell {
      width: 100%;
    }
  
    #Sell {
      margin-top: 40px;
    }
  }
  
  

footer { padding: 20px;
   background-image: "Images/Abstract.jpg";
   background-size: cover;
    text-align: center;
    width:980px;
    margin-top: 50px;
    margin-bottom: 10px; 
    clear: both;}