<head>

  <meta charset="UTF-8">

  <title>Art Satisfactor</title>
  
  
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

     <!-- Latest compiled and minified CSS -->

  <link rel="stylesheet" type="text/css" href="assets/css/reset.css">
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body class= "body1">
  <h1>Art Satisfactor</h1>
  <div id="main">
  
<div class="position">

<a href="Login.html"></a>
  <div class="container homeCon bgimg1">
      <h2 class="h20">Login</h2>
      <p>Login into your account to buy and sell artwork. See your history. Check out your favorite.
        See the latest work from your favorite artists.
      </p> 
      <a href = "Login.html">Click Here</a>
        
  </div>


  <a href="BuySell.html"></a>
  <div class="container homeCon bgimg3">
      <h2 class="h20">BuySell</h2>

      <p>Are you an art collector? Download and purchase items you like. Are you an artist looking to display 
        your work? Show the world what you can do here. Burst onto the creative scene and display your talent. 
        <a href = "BuySell.html">Click Here</a></p> 

  </div>

<a href="About.html"></a>
<div class="container homeCon bgimg2" id="third">
  <h2 class="h20">About Us</h2>
  <p>Who are we? We art your ticket to getting satisfaction for all your artwork! You want 
    to be appreciated for your work? We can give you that. Want to get discovered? We will better
    your chances. Want to make some money for your art? We can provide you the space to do so. Sign Up Today!
  </p>
</div>

<a href="Favorites.html"></a>
<div class="container homeCon bgimg4">
  <h2 class ="h20">Favorites</h2>
  <p>Our Favorite Artworks</p>
  <img src= "assets/img/Americans.jpg", alt="Americans", style="width:100px;height:100px;">
  <img src= "assets/img/Mona_Lisa.jpg", alt="Mona_Lisa", style="width:100px;height:100px;">
</div>

</div> 
</div>
</body>

</html>
