body, html {
  height: 100%;
}
.body1 {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-image: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project2\Code\group-project-2\img\Multi.jpg);
  background: url(../img/Multi.jpg);  
}

.body2 {
  background-image: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project2\Code\group-project-2\public\assets\img\buyart.jpg);
  background: url(../img/buyart.jpg);
  background-repeat: no-repeat;
  background-size: stretch;
}

.body3{
  background-image: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project2\Code\group-project-2\public\assets\img\other_art.png);
  background: url(../img/other_art.jpg);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 /* Bordered form */
 form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
      display: block;
      float: none;
  }
  .cancelbtn {
      width: 100%;
  }
} 
#holder1{
  background-color: #fff;
  align-content: center;

}
container2{ 
  text-align: center;
  font-family: "Comic Sans MS";
  color: white;
  font-size: 50px;

}
h1{
  text-align: center;
  font-family: "Comic Sans MS";
  color: white;
  font-size: 50px;
}

.p1{
  color: black;
}

.fa:hover {
  opacity: 0.2;
}
.fa{
  float: right;
  bottom: 0;
  text-align: center;
  margin-top: 5px 2px;
  padding: 15px;
  font-size: 20px;
}

/* CSS for the containers on the HomePage */


.position{
    margin-left: 27%;
}

.homeCon {
    float: left;  
    width: 300px;
    height: 300px;
    border: 5px solid #fff;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

#third{
    clear:left;
}


/* Images that go inside the div */

h2{
  color:black;
}

.h20{
  color:black;
}

.bgimg1 {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 15%;
}

.bgimg12 {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: #fff;
  border-radius: 15%;
}

.img_upload{
margin-top: 50px;
}
.container  {
  text-align: center;
  margin-left: 25px;
}


.bgimg2{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-color: #fff;
}


.bgimg3{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-color: #fff;
}

.bgimg4{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-color: #fff;
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}