body, html {
  height: 100%;
}
.body1 {
  /* Typography */
  font-size: 18px;
  line-height: 27px;

  /* Visual */
  background-image: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project2\Code\group-project-2\img\Multi.jpg);
  background: url(../img/Multi.jpg);  
}

.body2 {
  background-image: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project2\Code\group-project-2\public\assets\img\buyart.jpg);
  background: url(../img/buyart.jpg);
}

.body3{
  background-image: url(C:\Users\susha\Desktop\Class_Stuff\Class_Projects\Project2\Code\group-project-2\public\assets\img\other_art.png);
  background: url(../img/other_art.jpg);
  height: 100%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#holder1{
  background-color: #fff;
  align-content: center;

}
container2{ 
  text-align: center;
  font-family: "Comic Sans MS";
  color: white;
  font-size: 50px;

}
h1{
  text-align: center;
  font-family: "Comic Sans MS";
  color: white;
  font-size: 50px;
}

.p1{
  color: black;
}

.fa:hover {
  opacity: 0.2;
}
.fa{
  float: right;
  bottom: 0;
  text-align: center;
  margin-top: 5px 2px;
  padding: 15px;
  font-size: 20px;
}

/* CSS for the containers on the HomePage */


.position{
    margin-left: 27%;
}

.homeCon {
    float: left;  
    width: 500px;
    height: 700px;
    border: 5px solid #fff;
    margin: 8px;
    text-align: center;
    border-radius: 25px;
}

#third{
    clear:left;
}


/* Images that go inside the div */

h2{
  color:black;
}

.h20{
  color:black;
}

.bgimg1 {
  display: inline-block;
  width: 400px;
  height: 500px;
  background-color: #fff;
  border-radius: 15%;
}

.img_upload{
margin-top: 50px;
}
.container  {
  text-align: center;
  margin-left: 25px;
}


.bgimg2{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-color: #fff;
}


.bgimg3{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-color: #fff;
}

.bgimg4{
  width: 300px;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 200px;
  background-color: #fff;
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}